<ul class="menu menu-horizontal w-full bg-blue-950 text-white">
  <li><a routerLink="" class="focus:bg-sky-900 focus:text-white hover:bg-sky-900 hover:text-white">Cargar primero login/ Arreglar Routes y crear login en pages
      menu ejemplo</a></li>
  <li><a routerLink="" class="focus:bg-sky-900 focus:text-white hover:bg-sky-900 hover:text-white">
    menu ejemplo</a></li>
  <li><a routerLink=""
      class="focus:bg-sky-900 focus:text-white hover:bg-sky-900 hover:text-white">menu ejemplo</a></li>
  <li><a routerLink="cui-df-cr" class="focus:bg-sky-900 focus:text-white hover:bg-sky-900 hover:text-white">menu ejemplo</a></li>
</ul>

<router-outlet />